<h1> Pirates </h1>


  {{#each pirate}}
<div class="all">
<ul>
  <li> Name: {{name}} </li>
  <li> Birthplace: {{birthplace}} </li>
  <li> Death Year: {{death_year}} </li>
  <li> Base: {{base}} </li>
  <li> Nickname: {{nickname}} </li>
</ul>
</div>
  <br><br>
 {{/each}}
 <br><br>
</div>
