<div ID= Individual>
<h1 class="Individual"> Pirate - {{piratenum.name}} </h1>

<p class="Individual"> Birthplace: {{piratenum.birthplace}} </p>
<p class="Individual"> Death Year: {{piratenum.death_year}} </p>
<p class="Individual"> Base: {{piratenum.base}} </p>
<p class="Individual"> Nickname: {{piratenum.nickname}} </p>
</div>
