<h1> Student Individual Data </h1>

<ul class="student show">
  <li> First Name: {{User.first_name}}</li>
  <li> Last Name: {{User.last_name}}</li>
  <li> Email: {{User.email}} </li>
  <li> Created At: {{User.created_at}} </li>
  <li> Project #: {{User.items.length}} </li>
</ul>
